<div><h4>
    <br /><br />
    The  Project Manager  Single  Page  Application allows  you  to  manage  projects  and  their  respective tasks.
    <br /><br />
    It allows you to set priorities to each project and task.
    You can associate one manager to each project and  task-owner for  each task.
    <br /><br />
    Each task will have parent task,start date and end date.
</h4>
</div>
